.carousel .carousel-item {
  height: 500px;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
    opacity: 1;
}

.carousel-caption {
  text-shadow: 0px 0px 5px black;
  transform: translateY(-50%);
  bottom: 0;
  top: 60%;
}

li.borderless{
  border: 0 none;
}