.carousel {
  &-caption {
    top: 0;
    bottom: auto;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &-card {
    background-color: rgba(35, 35, 35, 0.3) !important;
  }

  img {
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@media (min-width: 576px) {
  .carousel img {
    height: 86.8vw;
  }
}

@media (min-width: 768px) {
  .carousel img {
    height: 667px;
  }
}
