*:focus {
  outline-color: #6790cb;
}

body {
  min-width: 320px;
}

img.responsive {
  max-width: 100%;
}

img.responsive[width] {
  width: auto;
}

img.responsive[width][height] {
  height: auto;
}

img.responsive[src$='.svg'] {
  width: 100%;
  height: auto;
  max-width: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.page-title {
  position: relative;

  &::after {
    content: '';
    width: 100px;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
    background-color: #6790cb;
    border-radius: 1px;
  }
}
